/*
* {
  all: unset; //Unsets everything so you can style everything from scratch
}
*/

.sidestuff {
    margin-right: 1em;
}

.centerstuff {
}

.metric scale trough slider {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.0);
}
.metric scale trough {
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.workspace-entry {
    padding-left: 5px;
    padding-right: 5px;
}

.workspace-entry.empty {
    color: #777777;
}
.workspace-entry.current {
    color: #ffffff;
    background-color: #4e4e4e;
}

.sidestuff .kb-layout {
    padding-right: 20px;
}
