.last-config
awesome/archmenu.lua
awesome/.no-compositor
awesome/.first-run
flavours/config.toml
powerline/colors.json
vim/vim-plug/plug.vim.old
rofi/theme.rasi
alacritty/colors.yml
dunst/colors
**/__pycache__/
